.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-container label {
  margin-right: 1rem;
  font-weight: bold;
}

.filter-container select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.custom-table th,
.custom-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table td {
  vertical-align: top;
}

.custom-button {
  background-color: #3DC6C1;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #36b5b1;
}

.custom-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.input_text {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

